@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap');

:root {
  --text: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%, 50%);
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);
  --border: hsl(0, 0%, 85%);
  --primary: hsl(243, 57%, 50%);
  --primary-dark: hsl(243, 57%, 40%);
  --secondary: hsl(229, 83%, 60%);
  --danger-text: hsl(354, 61%, 21%);
  --danger-bg: hsl(355, 70%, 91%);
  --danger-border: hsl(354, 71%, 81%);
  --warning-text: hsl(45, 94%, 21%);
  --warning-bg: hsl(46, 100%, 90%);
  --warning-border: hsl(45, 100%, 81%);
  --success-text: hsl(153, 69%, 13%);
  --success-bg: hsl(153, 31%, 86%);
  --success-borer: hsl(153, 31%, 73%);
  --info-text: hsl(190, 90%, 20%);
  --info-bg: hsl(191, 88%, 90%);
  --info-border: hsl(190, 88%, 80%);
  --ff: "Inter", sans-serif;
  --fs: 1rem;
  --fs-sm: 0.875rem;
  --fs-lg: 1.125rem;
  --fs-xl: 2rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.5rem;
  --spacing-10: 3rem;
  --spacing-11: 3.5rem;
  --spacing-12: 4rem;
  --spacing-13: 4.5rem;
  --spacing-14: 8rem;
}

*{
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--ff);
  font-size: var(--fs-lg);
  font-weight: 400;
  line-height: var(--spacing-6);
  color: var(--text);
}

a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 2px solid var(--primary);
}

a:hover, a:active, a:focus {
  color: var(--primary-dark);
  text-decoration: none;
  border-bottom: 3px solid var(--primary-dark);
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
  color: inherit;
  font-family: "Permanent Marker", cursive;
  border-bottom: none;
}

.navbar-brand-icon {
  color: var(--secondary);
}

#breadcrumb {
  border-bottom: none;
}

.text-muted {
  color: var(--text-muted) !important;
}

.text-small {
  font-size: 0.8em;
}

.card-header {
  font-weight: 700;
}

tr {
  background-color: inherit;
  border: 0em solid white;
  border-bottom: 1px solid var(--border);
}

tr:last-child {
  border-bottom: none;
}

table p {
  margin-bottom: 0;
}

.eliminated {
  opacity: 0.2;
}

.prize {
  color: green;
  margin-left: 0.5em;
}

.no-list-style {
  list-style-type: none;
  padding-left: 0;
}

.no-list-style li {
  margin-bottom: 1em;
}

.table-padding {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
